.github-profile {
	margin: 1rem;
}


.github-profile img{
	width: 75px;
}

.info {
	display: inline-block;
	margin-left: 12px;
}

form {
	padding: 2rem;
	background: rgba(0, 0, 0, 0.05);
	border: solid thin rgba(0, 0, 0, 0.5);
}